.card {
  width: 200px;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 10px 20px;
}

.title {
  text-align: center;
}

.image {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  object-position: top center;
}

.parameter {
  display: flex;
  justify-content: space-between;
}

.paramName {
  color: gray;
}

.paramData {
  margin: 0;
}